.price{
	color: green;
}
.pastPrice{
	color: lightgray;
	text-decoration: line-through;
}
.btn{
	border: 1px solid lightgray;
	color: gray;
	border-radius: 5px;
	display: inline;
	font-size: 15px;
	padding: 2px;
}

.new,.reduc{
	border-radius: 90px;
	padding: 5px;
	color: white;
	display: inline;
	position: absolute;
	top: 2%;

}
.new{
	background-color: green;
	position: absolute;
	top: 0.5%;
	left: 3%;
}

.reduc{
	background-color: red;
	position: absolute;
	top: 0.5%;
	left: 13%;
}

#first,#second,#third,#fourth{
	display: inline-block;
	width: 22%;
	margin-left: 2%;

}
img{
	height: 200px;
	width: 150px;
}